.header {
  background-color: #046770;
  padding: 1rem;
}
.containerNavbar{
  display: grid;
  grid-template-columns: 1fr auto auto;
  grid-template-rows: 1fr;
  grid-template-areas: "logoPage navbar-icon logoCart";
}
.containerNav {
  display: flex;
  justify-content: end;
  margin-right: 0.5rem;
  gap: 1rem;
}
.containerLogo-cart {
  display: flex;
  align-items: center;
  justify-content: end;
  grid-area: logoCart;
}
.logoCart {
  width: 2.5rem;
}
.quantityLogo-cart {
  text-align: center;
  border-radius: 50%;
  height: 1.5rem;
  width: 1.5rem;
  background-color: rgb(22, 128, 4);
  color: white;
}
.containerUl-header {
  display: flex;
  justify-content: end;
  align-items: center;
}
.logoPage {
  font-size: 3.5rem;
  text-decoration: none;
  transition: ease 0.5s;
  color: white;
  font-family: Georgia, "Times New Roman", Times, serif;
  grid-area: logoPage;
}
.logoPage:hover{
  color: #FF8966;
}
.ulHeader {
  display: flex;
  gap: 1rem;
  list-style: none;
  margin: 0;
  grid-area: ulHeader;
}
.ulFooter {
  display: flex;
  gap: 1rem;
  width: 90%;
  list-style: none;
  margin: 0;
}
.link {
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
  transition: ease-in-out 0.5s;
}
.link:hover{
  color: #FF8966;
}
.navbar-toggler {
  background-color: white;
  grid-area: navbar-icon;
}
.footer {
  display: flex;
  justify-content: center;
  padding: 1rem;
  margin: 0;
  background-color: #046770;
  color: white;
}

/* MEDIA QUERY */

@media (max-width: 480px) {
  .containerNavbar {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
      "logoPage logoPage"
      "navbar-icon logoCart";
    gap: 0.5rem;
  }
  .containerNav {
    justify-content: start;
  }
  .containerUl-header {
    justify-content: start;
  }
  .ulHeader {
    display: flex;
    flex-direction: column;
    gap: 3px;
  }
  .containerLogo-cart {
    display: flex;
    align-items: start;
    margin-bottom: 0;
  }
}

@media (min-width: 481px) and (max-width: 990px) {
  .containerNavbar {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr auto;
    grid-template-areas:
      "logoPage navbar-icon"
      "logoCart navbar-icon";
  }

  .containerLogo-cart {
    justify-content: start;
  }
  .containerNav {
    justify-content: end;
    align-items: center;
    margin-top: 1rem;
    margin-right: 0;
    height: 65%;
  }
}
